*{
    margin: 0;
    padding: 0;
}
.main{
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/ChatGPT\ Image\ Aug\ 5\,\ 2026\,\ 06_28_02\ AM.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:100vh;

}
.navbar{
    float:right;
    padding: 30px;
    display: flex;
    gap: 70px;
}
.navbar a{
    text-decoration: none;
    color: rgb(241, 245, 248);

}
.intro{
color: rgb(163, 174, 183);

}
.intro h1{
    font-weight: 100;
    font-size: 45px;
    f
}